

/*GÉNÉRAL*/

*
{
    box-sizing: border-box;
}


header, footer
{
    background: #945def;
    font-size: 1.5em;
}
 
.nav-link
{
    color: #000 !important ;
}

/*FOOTER*/
footer
{
    display: flex;
    justify-content: space-around;
     background: #945def;
}
footer a
{
    text-decoration: none !important;
    color: rgb(0, 0, 0);
}



/*INDEX*/


/*SECTION 1*/
.section1
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -10%;
}

#logo-orinoco
{
 width: 250px;
 border : none;
}



/*ITEMS CONTAINER*/

.items-container
{
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
}

.camera h3
{
    text-align: center;
}

img
{
    width: 350px;
    margin-top: 10%;
    margin-bottom: 2%;
    border : 2px solid #945def;
} 

/* .camera
{
    display: flex;
    flex-direction: column;
    align-items: center;
} */



/*PAGE PRODUIT*/


.product-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.product-container img
{
    width: 80%;
}

/*select lentilles*/

/* select
{
    position: absolute;
    margin-bottom: 5%;
    margin-top: 40%;
} */

/* The Modal (background) */
 .modal 
 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content 
  {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close 
  {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus 
  {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 



/*PAGE PANIER*/

/*formulaire */

form
{
    display: flex;
    flex-direction: column;
     margin-top: 2%;
    align-items: center;
   
}

/* Page panier */



 
