

/*GÉNÉRAL*/

*
{
    box-sizing: border-box;
}


header, footer{
background: #033e64;
font-size: 1.5em;
}
 
.nav-link{
color: whitesmoke !important ;
}

.nav-link:hover{
    color:rgb(211, 209, 209) !important;
} 

/*FOOTER*/
footer{
    display: flex;
    justify-content: space-around;
     background: #033e64;
     margin-bottom: 0;
     margin-top: 35vh;
}

footer a{
    text-decoration: none !important;
    color: whitesmoke !important;
}

footer a:hover{
    color:rgb(211, 209, 209) !important;
}


/*INDEX*/


/*SECTION 1*/
.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -10%;
}

#logo-orinoco{
 width: 250px;
 border : none;
}

.section1 h2{
    color: #033e64 !important;
}


.txt-container a{
    background: #033e64;
    color: whitesmoke !important;
    width: 150px;
    text-align: center;
    border-radius: 200px;
    text-decoration: none;
}

.txt-container a:hover{
    background: #046cb1;
    
} 

/*ITEMS CONTAINER*/

.items-container{
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
}

.camera h3{
    text-align: center;
}

img{
    width: 350px;
    margin-top: 10%;
    margin-bottom: 2%;
    border : 3px solid #033e64;
    border-radius: 20px;
} 

/* .camera
{
    display: flex;
    flex-direction: column;
    align-items: center;
} */



/*PAGE PRODUIT*/


.produit-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.produit-container img{
    width: 80%;
}


/*PAGE PANIER*/

.panier-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    text-align: center;
    background: #033e64;
    color: #fff;
    border-radius: 20px;
    margin-top: 2%;
}

.panier-img{
    width: 30% !important;
}

.txt-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*formulaire */

form{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    align-items: center;
   
}



/* Confirmation de Commande*/

.confirmation-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

 .confirmation-id, .confirmation-total{
     font-weight: bold;
     font-size: 1.5em;
    margin-top: 5%;
 }
